<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>类友网络-首页</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  <div class="head">
  <div style="height: 30px;display: inline;width: 100%;">
 <span class="breadcrumb">
 			 <a href="">学校首页|</a>
 			 <a href="">设为首页|</a>
 			 <a href="">加入收藏|</a>
 			 <a href="">联系方式</a>
	</span>
	</div>
 	<div class="pic">
 	
 	
 	</div>	 
  	<div class="daohang"> 	
  <ul class="layui-nav">
  <li class="layui-nav-item"><a href="">网站首页</a></li>
  <li class="layui-nav-item layui-this"><a href="">中心概况</a></li>
  <li class="layui-nav-item"><a href="">新闻公告</a></li>
  <li class="layui-nav-item">
    <a href="javascript:;">规章制度</a>
    <dl class="layui-nav-child">
      <dd><a href="">移动模块</a></dd>
      <dd><a href="">后台模版</a></dd>
      <dd><a href="">电商平台</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="">实验教学</a></li>
  <li class="layui-nav-item"><a href="">成功展示</a></li>
  <li class="layui-nav-item"><a href="">对外服务</a></li>
  <li class="layui-nav-item"><a href="">资料下载</a></li>
</ul> 
  
  </div>
  </div>
  
  <!-- banner部分 -->
  <!-- main部分 -->

  <div class="main-service">
    <div class="layui-container">
     <p class="title"></p> 
      
      <div class="layui-row layui-col-space25 layui-col-space80">
        <div class="layui-col-sm6 col-top">
          <div class="content">
       <!-- 轮播 --> 
			<div class="layui-carousel" id="test10">
            <div carousel-item="">
   			 	 <div><img src="//res.layui.com/images/layui/demo/1.png"></div>
   				 <div><img src="//res.layui.com/images/layui/demo/2.png"></div>
    			 <div><img src="//res.layui.com/images/layui/demo/3.png"></div>
   			     <div><img src="//res.layui.com/images/layui/demo/4.png"></div>
   			     <div><img src="//res.layui.com/images/layui/demo/5.png"></div>
            </div>
     </div>
           
           </div>
           </div>
   
        <div class="layui-col-sm6 col-top">
             <div class="content">
          <div class="title">
         <div class="main"><a>新闻动态</a></div><div class="more"><a>>更多</a></div>
         <hr/>
        </div>
        <div class="table">
             <table>
             <tr>
             <td width="68%">内容内容内容</td>
             <td width="32%">2018-12-24</td>
             </tr>
              <tr>
            <td width="68%">内容</td>
             <td width="32%">时间</td>
             </tr>
              <tr>
             <td width="68%">内容</td>
             <td width="32%">时间</td>
             </tr>
             </table></div>
            </div>
        </div>
         <div class="layui-col-sm6 col-top">
            <div class="content">
          <div class="title">
         <div class="main"><a>新闻动态</a></div><div class="more"><a>>更多</a></div>
          <hr/>
        </div>
       <div class="table">
             <table >
             <tr>
               <td width="68%">内容</td>
             <td width="32%">时间</td>
             </tr>
             </table></div>
            </div>
        </div>
        <div class="layui-col-sm6 col-bottom">
             <div class="content" style="width: 100%">
          <div class="title">
         <div class="main"><a>新闻动态</a></div><div class="more"><a>>更多</a></div>
          <hr/>
        </div>
             <div class="table">
             <table>
             <tr>
               <td width="68%">内容</td>
             <td width="32%">时间</td>
             </tr>
             </table></div>
            </div>
        </div>
        <div class="layui-col-sm6 col-bottom">
            <div class="content"style="width: 100%">
          <div class="title">
         <div class="main"><a>新闻动态</a></div><div class="more"><a>>更多</a></div>
          <hr/>
        </div>
   			  <div class="table">
             <table>
             <tr>
             <td>内容</td>
             <td>时间</td>
             </tr>
             </table></div>
            </div>
        </div>
      </div>
      <div class="service-more"></div>
    </div>
  </div>
 
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">合作伙伴</a>
        <a href="javascript:;">企业画报</a>
        <a href="javascript:;">JS网</a>
        <a href="javascript:;">千图网</a>
        <a href="javascript:;">昵图网</a>
        <a href="javascript:;">素材网</a>
        <a href="javascript:;">花瓣网</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;400-8888888&nbsp;&nbsp;&nbsp;(9:00-18:00)</p>
              <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;88888888@163.com</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
              <p class="contact-top"><span class="right">浙江杭州阿里巴巴西溪园区</span></p>
              <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2016-2018&nbsp;&nbsp;ICP&nbsp;备888888号</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
layui.config({
    base: '/js/' 
  }).use('firm'); 
layui.use(['carousel', 'form','element'], function(){
	  var carousel = layui.carousel
	  ,form = layui.form
	  element=layui.element;
	  
	  element.on('nav(demo)', function(elem){
		    //console.log(elem)
		    layer.msg(elem.text());
		  });
	  carousel.render({
		    elem: '#test10'
		    ,width: '320px'
		    ,height: '280px'
		    ,interval: 5000
		  });
	  
	
});
</script>
</body>
</html>